{% extends "pdf_manager/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock %}

{% block main %}

{% if message %}
    <div class="alert alert-danger">
        <strong>{{ message }}</strong>
    </div>
    <br>
{% endif %}

<div class="row gx-5">
    <div class="col">
        <div class="p-3 border bg-light">

            <div class="form-group">
                <form class="register-form" method="POST">
                {% csrf_token %}
                <h2 class="register-title">Registro</h3> <br>
                {{ register_form | crispy }}
                <button class="btn btn-primary" type="submit">Registrarse</button> <br><br>
                <p class="message">¿Ya está registrado? <a href="{% url 'login' %}">Inicio de sesión</a></p>
                </form>
            </div>

        </div>  
    </div>
</div>
{% endblock %}